<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Users</h2></div>
    <div class="m-2">
        <a class="h3 " th:href="@{/admin/users/new}">Add New User</a>
    </div>
    <div th:if="${message}" class="alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Usernname</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user:${listUsers}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.username}]]</td>
                    <td>[[${user.surname}]]</td>
                    <td>[[${user.age}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <form action="#" th:action="@{'/admin/users/delete/' + ${user.id}}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="btn btn-primary m-2" id=" deleteButton
                            ">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="#" th:action="@{'/admin/users/edit/' + ${user.id}}" th:method="put">
                            <input type="hidden" name="_method" value="edit"/>
                            <button type="submit" class="btn btn-primary m-2" id=" editButton
                            ">Edit</button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<form th:if="${#request.userPrincipal != null}" th:action="@{/logout}">
    <button type="submit" class="btn btn-primary m-2">Logout</button>
</form>
</body>
</html>